<p>imps-transfer works!</p>

<div class="container">
    From Account Number: {{account_number}}
    <form [formGroup]=ImpsForm (ngSubmit)="TransferImps()">
        <!--div class="form-group">
            <label for="to_account_number">To Account Number</label>
            <input type="text" class="form-control" name="to_account_number" formControlName="to_account_number"
                id="to_account_number">
            <div class="alert alert-danger"
                *ngIf="ImpsForm.get('to_account_number').errors && ImpsForm.get('to_account_number').touched">
                <small *ngIf="ImpsForm.get('to_account_number').errors.required">
                    This Field is required
                </small>
                <small *ngIf="ImpsForm.get('to_account_number').errors.pattern">
                    This field is not valid
                </small>
            </div>
        </div-->
        <div class="form-group">
            <label for="to_account_number">To Account Number:</label>
            <div class="container row">
                <select class="form-control col-8" name="to_account_number" formControlName="to_account_number"
                    id="to_account_number">
                    <option *ngFor="let opt of beneficiary_list" [ngValue]="opt">{{opt}}</option>
                </select>
                <div class="col-sm-4">
                    <button class="btn btn-outline-danger" type="button" (click)="AddBeneficiary()">Add New
                        Beneficiary</button>
                </div>
            </div>

            <div class="alert alert-danger"
                *ngIf="ImpsForm.get('to_account_number').errors && ImpsForm.get('to_account_number').touched">
                <small *ngIf="ImpsForm.get('to_account_number').errors.required">
                    This Field is required
                </small>
                <small *ngIf="ImpsForm.get('to_account_number').errors.pattern">
                    This field is not valid
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="amount">Enter Amount</label>
            <input type="number" class="form-control" name="amount" formControlName="amount" id="amount">
            <div class="alert alert-danger" *ngIf="ImpsForm.get('amount').errors && ImpsForm.get('amount').touched">
                <small *ngIf="ImpsForm.get('amount').errors.required">
                    This Field is required
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="transaction_date">Transaction Date</label>
            <input type="date" class="form-control" name="transaction_date" formControlName="transaction_date"
                id="transaction_date">
            <div class="alert alert-danger"
                *ngIf="ImpsForm.get('transaction_date').errors && ImpsForm.get('transaction_date').touched">
                <small *ngIf="ImpsForm.get('transaction_date').errors.required">
                    This Field is required
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="maturity_Instructions">Maturity Instructions</label>
            <input type="text" class="form-control" name="maturity_Instructions" formControlName="maturity_Instructions"
                id="maturity_Instructions">
            <div class="alert alert-danger"
                *ngIf="ImpsForm.get('maturity_Instructions').errors && ImpsForm.get('maturity_Instructions').touched">
                <small *ngIf="ImpsForm.get('maturity_Instructions').errors.required">
                    This Field is required
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="remark">Remark</label>
            <input type="text" class="form-control" name="remark" formControlName="remark" id="remark">
            <div class="alert alert-danger" *ngIf="ImpsForm.get('remark').errors && ImpsForm.get('remark').touched">
                <small *ngIf="ImpsForm.get('remark').errors.required">
                    This Field is required
                </small>
            </div>
        </div>
        <div class="form-group row m-auto">
            <div class="col-auto"><button type="submit" class="btn btn-success">Save</button></div>
            <div class="col-auto"><button type="reset" class="btn btn-secondary">Reset</button></div>
            <div class="col-auto"><button type="button" class="btn btn-warning">Save as Template</button></div>
            <div *ngIf="success">
                <div class="col-auto"><button type="button" (click)="Continue()" class="btn btn-info">Continue</button>
                </div>
            </div>
        </div>
        <div *ngIf="success">
            <div class="alert alert-success">
                {{message}}
            </div>
        </div>
        <div>
            {{tax}}
        </div>

       
    </form>
    <div *ngIf="continue">
        <div class='alert alert-primary'>
            <div class="form-group">
                <label for="transaction_password">Enter Transaction password</label>
                <input class="form-control" name="transaction_password" [(ngModel)]="transaction_password"
                     id="transaction_password">
            </div>
            <div class="btn btn-primary" (click)="CheckPassword()">Enter</div>
            <div class="text-danger mt-1">{{password_error}}</div>
            <div class="text-success mt-1">{{password_success}}</div>
        </div>
    </div>
</div>